.botao-seq {
    padding: 50px;
    margin: 10px;
    opacity: 0.5;
}
#btn-1 {
    background-color: green;
}
#btn-2 {
    background-color: yellow;
}
#btn-3 {
    background-color: red;
}
#btn-4 {
    background-color: blue;
}
.botao-seq.active {
    opacity: 1 !important;
}